<table class="table table-bordered table-striped">
<thead>
  <tr>
    <th ckass="">Content</th>
    <th>Subject</th>
    <th>Type</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @search_results_questions.last(10).each do |question| %>
    <tr>
      <td><%= question.content %></td>
      <td><%= %></td>
      <td><%= %></td>
      <td><button class="btn btn-sm btn-info btn-flat pull-left" onclick="add_question($(this))" value=<%= question.id %>>Add</button></td>
    </tr>
  <% end %>
  <%= paginate @search_results_questions, theme: 'twitter-bootstrap-3' %>
</tbody>
</table>