<%= form_for @question do |f| %>
    <%= f.label :question %>
    <%= f.text_field :content %>
    </br>
    <button type="button">Add Answer</button>
    <div class="answer-group">
    <%= f.fields_for :answers  do |ff| %>
        <%= ff.label :answer %>
        <%= ff.text_field :content %>
        </br>
    <% end %>
    <div>

    <%= f.submit %>
    
<% end %>

<script>
function check_question_type(){
    var text=$('#question_type_select').val();
    var a = $('#choice-answer-form');
    var b = $('#write-answer-form');
    a.hide();
    b.toggle();
    if(text==1){
        a.toggle();
        b.hide();
    }
}
$('#question_type_select').change(check_question_type);
check_question_type();
</script>