<div class="card" id="search-results">
  <div class="card-header">
    <h3 class="card-title">Exam</h3>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Submitted</th>
          <th>Result Average</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each.with_index(1) do |user, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= user.name %></td>
          <td><%= link_to user.email, users_path(user) %></td>
          <td><%= user.get_submitted %></td>
          <td><%= user.get_results_average %></td>
          <td><%= link_to "Delete", users_delete_path(user) ,data: { confirm: 'Are you sure?' }, method: :post, class: 'btn btn-sm btn-danger btn-flat pull-left btn-add' %></td>
        </tr>
        <% end %>
        <%= paginate @users %>
      </tbody>
    </table>
  </div>
</div>
<script>
    $('#user-list a').addClass('active')
</script>
