<div class="col-md">
<div class="card">
    <div class="card-header">
    <h3 class="card-title">My Result</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="width: 10px">#</th>
            <th class="w-20">Exam</th>
            <th>Result</th>
            <th>Subject</th>
            <th class="">Time</th>
            <th>At</th>
        </tr>
        </thead>
        <tbody>
        <% @results.each.with_index(1) do |result,index| %>
        <tr>
            <td><%= index %>.</td>
            <td><%= link_to "#{result.exam.name}", results_path(result) %></td>
            <td><%= result.value %></td>
            <td><%= result.get_subject_name %></td>
            <td><%= show_time_in_hour(result.time) %></td>
            <td><%= result.created_at.to_formatted_s(:long) %></td>
        </tr>
        <% end %>
        <%= paginate @results, theme: 'twitter-bootstrap-3' %>
        </tbody>
    </table>
    </div>
</div>
</div>