<div class="card-header">
<h3 class="card-title">Exam</h3>
</div>
<div class="row">
<% @exams.each_with_index do |exam, index| %>
  <div class="col-md-4">
    <div class="card card-widget widget-user-2 shadow-sm">
      <div class="widget-user-header bg-warning">
        <h3 class="widget-user-username"><%= link_to "#{exam.name}", exam_path(exam) %></h3>
        <h5 class="widget-user-desc"><%= exam.subject_name.capitalize %></h5>
      </div>
      <div class="card-footer p-0">
        <ul class="nav flex-column">
          <li class="nav-item">
            <div  class="nav-link">
            Questions <span class="float-right badge bg-primary"><%= exam.questions.count %></span>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
            Time<span class="float-right badge bg-info"><%= show_time_exam exam.time %></span>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
            Submitted <span class="float-right badge bg-success"><%= exam.total_results %></span>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
            Average <span class="float-right badge bg-warning"><%= exam.result_average %></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @exams, theme: 'twitter-bootstrap-3' %>  
</div>