<div class="card-header">
  <h3 class="card-title">Exam</h3>
</div>
<!-- /.card-header -->
<div class="card-body">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Questions</th>
        <th>Time</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <% @search_result_exams.each.with_index(1) do |exam, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= link_to exam.name, exam_detail_path(exam) %></td>
          <td><%= exam.questions.count %></td>
          <td><%= show_time_in_hour(exam.time) %></td>
          <td><%= exam.result_average %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>