<div class="card" id="search-results">
              <div class="card-header">
                <h3 class="card-title">Exam</h3>
              </div>
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Questions</th>
                    <th>Time</th>
                    <th>Result</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><%= @exam.name %></td>
                    <td><%= @exam.questions.count %></td>
                    <td><%= show_time_in_hour(@exam.time) %></td>
                    <td><%= @exam.result_average %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
</div>

<div class="card-body">
  <%= form_for @result, url: results_path(@result) do |f| %>
    <%= f.hidden_field :subject_id, value: @exam.subject_id %>
    <%= f.hidden_field :exam_id, value: @exam.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <% @questions.each.with_index(1) do |question,index| %>
        
        <li><%= "Number #{index} : "%>
        <%= question.content %></li>
          <% if question.type_id == 1 %>
            <% question.answers.each do |answer|%>
              <%= f.fields_for :user_answers do |ff| %>
                <%= ff.hidden_field :exam_question_id, value: get_exam_question_id(@exam.id, question.id) %>
                <%= answer.content %>
                <%= ff.hidden_field :answers_id, value: answer.id  %>
                <%= ff.check_box(:correct)%>
              <% end %>
            <% end %>
          <% else %>
            <%= f.fields_for :user_answers do |ff| %>
              <%= ff.hidden_field :exam_question_id, value: get_exam_question_id(@exam.id, question.id) %>
              <%= ff.text_field :content %>
            <% end %>
          <% end %>

        <br/>
      <% end %>

  <%= f.submit :Submit %>
  <% end %>
</div>
