<div class="row">
  <div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Create Exam</h3>
    </div>
    <%= form_for @exam do |f| %>
      <div class="box-body">          
        <%= f.label :"Name:", class: "col-sm-1" %>
        <%= f.text_field :name,  class: "form-control col-sm-10 ms-2 mb-2 d-inline", required: "required" %>
        <br />
        <%= f.label "time:", class: "col-sm-1" %>
        <%= f.select :time, options_for_select([["15m",15*60],["45m",45*60],["90m",90*60]]), {}, class: 'form-select col-sm-2 ms-2 mb-2 d-inline', required: "required" %>
        <br />
        <%= f.label "Questions:", class: "col-sm-1" %>
        <div class="ms-2 d-inline h-4">
          <%= select_tag :questions, options_for_select(@questions, selected: f.object.questions.ids), {class: 'js-example-basic-multiple col-sm-10 d-inline',name: "questions[]", multiple: "multiple"} %>
        </div>
      </div>
      <div class="box-footer clearfix">
        <%= f.submit "Create Exam", class: "btn btn-sm btn-info btn-flat pull-left btn-add mt-4" %>
      </div>
    <% end %>
  </div>
</div>
<script>
  $('#create-exam a').addClass('active')
  $(document).ready(function() {
    $('.js-example-basic-multiple').select2({
      placeholder: "Select a question",
      require: "required", 
      ajax:{
        url: 'exam/find_question',
        dataType: 'json',
        data: function(params){
          var questionID = $(this).val();
          return { search_content: params.term, selected_question_id: questionID }
        },
        processResults: function(data){
          return { results: data.results};
        },
      },
      templateResult: formatResult,
  
    }).trigger('change');
  
    function formatResult(question) {
      return question.content;
    }
    
    function formatSelection(question) {
      return question.content || question.text;
    }
  
  });
</script>