<style>

</style>

<div id="form-select">
    <%= form_tag do %>
        <div class='form-field'>
        <%= label_tag "time:", nil, class: "col-sm-2" %>
        <%= select_tag :time, options_for_select(time_exam), class: 'form-select col-sm-4 d-inline', include_blank: true %>
        </div>
        <%= label_tag "subject:", nil, class: "col-sm-2"%>
        <%= select_tag :subject, options_for_select(@subject), class: 'form-select col-sm-4 d-inline', include_blank: true %>
        <br />
        <%= label_tag "questions:", nil, class: "col-sm-2"%>
        <%= select_tag :questions, options_for_select([["5",5],["10",10],["15",15]]), class: 'form-select col-sm-4 d-inline', include_blank: true %>
        <br />
        <%= label_tag "type:", nil, class: "col-sm-2" %>
        <%= select_tag :question_type, options_for_select(type), class: 'form-select col-sm-4 d-inline', include_blank: true %>
        <%= submit_tag "Start", class: 'btn btn-primary d-block' %>
    <% end %>
</div>