</style>
<div class="card" id="search-results">
  <div class="card-header">
    <h3 class="card-title">Exam</h3>
  </div>
  <div class="card-body">
    <table class="table table-striped projects">
      <thead>
      </thead>
      <tbody>
        <tr><td><b>Name</b></td><td><%= @exam.name %></td></tr>
        <tr><td><b>Questions</b></td><td><%= @exam.questions.count %></td></tr>
        <tr><td><b>Subject</b></td><td><%= @exam.subject_name.capitalize %></td></tr>
        <tr><td><b>Time</b></td><td><%= show_time_exam(@exam.time) %></td></tr>
        <tr><td><b>Submitted</b></td><td><%= @exam.total_results %></td></tr>
        <tr><td><b>Result Average</b></td><td><%= @exam.result_average %></td></tr>
        <tr><td><b>Time Average</b></td><td><%= show_time_result(@exam.time_average) %></td></tr>
      </tbody>
    </table>
  </div>

  <div>
    <%= link_to "Start", submit_exam_path(@exam), class: 'btn btn-primary me-4 mb-1 float-sm-right' %>
  </div>
</div>



