<style>

</style>
<div class="card-body row" id="submit-page">
  <div id="submit-form">
    <%= form_for @result, url: results_path(@result) do |f| %>
      <%= f.hidden_field :subject_id, value: @exam.subject_id %>
      <%= f.hidden_field :exam_id, value: @exam.id %>
      <%= f.hidden_field :time, id:"current_time"%>
        <% @questions.each.with_index(1) do |question,index| %>
            <div class="question">
              <div class="question-content"><b><%= "Question #{index} : "%></b><br />
                <%= question.content %><br />
              </div>
              <div class="answers">
                  <% question.answers.each do |answer|%>
                      <%= f.fields_for :user_answers do |ff| %>
                        <%= ff.hidden_field :exam_question_id, value: @exam.exam_question_id(question) %>
                        <%= ff.hidden_field :answer_id, value: answer.id  %>
                        <% if question.types == 2 %>
                          <div class="answer-choice">
                            <%= ff.check_box(:correct)%>
                            <%= answer.content %>
                          </div>
                        <% else %>
                          <div class="answer-write">
                            <%= ff.text_field :content %>
                            <%= ff.hidden_field :answer_id, value: answer.id %>
                          </div>
                        <% end %>
                      <% end %>
                  <% end %>
              </div>
            </div>
          <% end %>
    <%= f.submit :Submit , id: "submit-form-button"%>
    <% end %>
  </div>
  <h3 class= "" id="time_count_down"></h3>
  <h3 class= "" id="answered"></h3>
</div>

<script>
  var countDownDate = new Date().getTime() + <%= @exam.time * 1000 %>;
  var questions = <%= @questions.count %>;
  var answereds = 0;
  var questionWrite = <%= @questions.group_by_type(1).count %>;
  var questionChoice = <%= @questions.group_by_type(2).count %>;
  document.getElementById("answered").innerHTML = "Answered : <br />" + answereds + " / " + questions;

  $('input[type= "text"]').change(function(){
      if (this.value != ""){
        answereds++;
      } 
      else{
        answereds--;
      }
    document.getElementById("answered").innerHTML = "Answered : <br />" + answereds + " / " + questions;
  });

  $('.answer-choice').click( function(){
    var children = $(this).parent().children('div').children('input[type="checkbox"]');
    questionChecked = false;
    userChecked = 0;
    for(var i = 0; i < children.length; i++){
      if(children[i].checked){
        userChecked ++;
      }
    }
    if(userChecked == 0){
      answereds++;
      document.getElementById("answered").innerHTML = "Answered : <br />" + answereds + " / " + questions; 
    }
    var check_box = $(this).children('input');
    var checked = check_box.prop('checked');
    if(checked && userChecked == 1){
      answereds--;
      document.getElementById("answered").innerHTML = "Answered : <br />" + answereds + " / " + questions; 
    }
    check_box.prop('checked', !checked);

  });

  var x = setInterval(function() {

    var now = new Date().getTime();
      
    var distance = countDownDate - now;
      
    var minutes = Math.floor(distance / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    var current_time = (<%= @exam.time * 1000 %> - distance)/1000;
      
    document.getElementById("time_count_down").innerHTML = "Time <br/>" + minutes + "m:" + seconds + "s ";

    document.getElementById("current_time").value = current_time;
      
    if (distance < 0) {    
      document.getElementById("submit-form").click();
    }
  }, 1000);





</script>