<div class="row h-100">
    <% if current_user and current_user.admin_role %>
    <div class="col-3 leftside" >
        <ul class="list-group">
        <% subjects.each do |sb| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= link_to "#{sb.name}".upcase, "/exam-group/#{sb.id}" %>
            <span class="badge badge-primary badge-pill">14</span>
            </li>
        <% end %>
        </ul>
    </div>
    <% else %>
    <div class="col-3 leftside" >
        <ul class = "list-group" >
        <li class="list-group-item d-flex justify-content-between align-items-center" >
            <%= link_to "Create Exam", '/question/create' %>
        </li>
        </ul>
    </div>
    <% end %>

    <div class="col h-100">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    </div>
</div>