<!DOCTYPE html>
<html>
  <head>
    <title>ExamApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if user_signed_in? %>
  <body>
    <div class="">
    <% @subjects  = [ ] %>
    <%= render 'layouts/base/admin/header'%>
      <% if current_user.admin? %>
        <%= render 'layouts/base/admin/slidebar'%>
      <% else%>
        <%= render 'layouts/base/user/slidebar' %>
      <% end %>
      <div class="content-wrapper d-100">
        <div>
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        </div>
        <%= yield %>
      </div>
  </body>

  <% else %>
    <%= yield %>
  <% end %> 
</html>
