<!DOCTYPE html>
<html>
  <head>
    <title>ExamApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      
    <%= render 'layouts/base/admin/header'%>
    <% if is_logged_in? and !current_user.admin_role %>
    <%= render 'layouts/base/admin/slidebar'%>
    <% else %>
    <%= render 'layouts/base/user/slidebar' %>
    <% end %>
    

    <div class="content-wrapper">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>

    <%= render 'layouts/base/admin/footer' %>

    </div>
  </body>
</html>
